<h1 mat-dialog-title>Hello User</h1>
<div mat-dialog-content>
   
   <div style="font-size: medium; color: rgb(50, 19, 226); padding-left: 10px;" class="username">{{userDisplayName}}</div>
   <div style="font-size: medium; color: rgb(50, 19, 226); padding-left: 10px;" class="email">{{userDisplayEmail}}</div>
   <div style="font-size: medium; color: rgb(50, 19, 226); padding-left: 10px;" class="phoneno">{{userDisplayPhone}}</div>
   <div style="font-size: medium; color: rgb(50, 19, 226); padding-left: 10px;" class="phoneno">{{userDisplayAdd}}</div>
   <div style="font-size: medium; color: rgb(50, 19, 226); padding-left: 10px;" class="phoneno">{{userDisplayCity}}</div>
   <div style="font-size: medium; color: rgb(50, 19, 226); padding-left: 10px;" class="phoneno">{{userDisplayState}}</div>
</div>
<div mat-dialog-actions>
<button  mat-button (click)="close()">Close</button>
</div>

