<p></p>
<p></p>
<h1 style="color: crimson;">DETAILS OF USER LOGIN</h1>
<div class="my-container">
<div fxLayout="row" fxLayoutAlign="center center">

    <mat-card fxFlex>  
        <mat-card-header [ngStyle]="{'background-color':'blue'}"> 
            <mat-card-title  [ngStyle]="{'font-size':'24px'}">User Details</mat-card-title>
        </mat-card-header>
        <mat-card-content>
<div style="font-size: medium; color: rgb(50, 19, 226); padding-left: 10px;" class="username">{{userDisplayName}}</div>
<div style="font-size: medium; color: rgb(50, 19, 226); padding-left: 10px;" class="email">{{userDisplayEmail}}</div>
<div style="font-size: medium; color:rgb(50, 19, 226); padding-left: 10px;" class="phoneno">{{userDisplayPhone}}</div>
<!--<div style="font-size: medium; color: azure; padding-left: 10px;" class="address">{{userDisplayAdd}}</div>
<div style="font-size: medium; color: azure; padding-left: 10px;" class="address">{{userDisplayAdd1}}</div>-->
</mat-card-content>
</mat-card>
</div>