
<div #reportContent class="container">
  <h3>User Details</h3>
    <div class="row">  
      <div class="col-md-8"> 
        <table class="table table-bordered">
          <tr class="table-primary" >
            <th>Id</th>
            <th>Name</th>
            <th>Email</th>
            <th>Phone</th>
          </tr>

          <tr>
            <!--<tr *ngFor="let user of USERS">
            <th>{{user.userid}}</th>
            <td>{{user.username}}</td>
            <td>{{user.email}}</td>
            <td>{{user.phoneno}}</td>-->
            <th>{{userDisplayId}}</th>
            <td>{{userDisplayName}}</td>
            <td>{{userDisplayEmail}}</td>
            <td>{{userDisplayPhone}}</td>
            
          </tr>
        </table>
      </div>
    </div>
  </div>
  <div class="col-md-4 text-center">
    <button class="btn btn-danger" (click)="downloadPDF()">Download PDF</button>
  </div>
