
<div #reportContent class="container">
  <h3>User Details</h3>
    <div class="row">  
      <div class="col-md-8"> 
        <table class="table table-bordered">
          <tr class="table-primary" >
            <th>Name</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Address</th>
            <th>City</th>
            <th>State</th>
          </tr>
          <tr>
            <th>{{userDisplayName}}</th>
            <td>{{userDisplayEmail}}</td>
            <td>{{userDisplayPhone}}</td>
            <td>{{userDisplayAdd}}</td>
            <td>{{userDisplayCity}}</td>
            <td>{{userDisplayState}}</td>
          </tr>
        </table>
      </div>
    </div>
  </div>
  <div class="col-md-4 text-center">
    <button class="btn btn-danger" (click)="downloadPDF()">Download PDF</button>
  </div>
